@font-face {
    font-family: 'kelsonregular';
    src: url('../font/kelson/kelson-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'kelsonbold';
    src: url('../font/kelson/kelson-bold-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'kelsonextrabold';
    src: url('../font/kelson/kelson-extrabold-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'kelsonlight';
    src: url('../font/kelson/kelson-light-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'kelsonmedium';
    src: url('../font/kelson/kelson-medium-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kelsonthin';
    src: url('../font/kelson/kelson-thin-webfont.woff2') format('woff2'),
         url('../font/kelson/kelson-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}