$blue: #24a4bc;
$red: red;
$gray: #f0efeb;
$gray-light: #f7fafc;
$gray-dark: #71706f;
$white: #fff;
$black: #000;
$orange: #f16348;


// Fonts
$font-1-regular: 'kelsonregular';
$font-1-bold: 'kelsonbold';
$font-1-extrabold: 'kelsonextrabold';
$font-1-light: 'kelsonlight';
$font-1-medium: 'kelsonmedium';
$font-1-thin: 'kelsonthin';