body {
    margin: 50px;
}

#calendar {
    &-header {
        display: grid;
        grid-template-columns: 2fr 4fr;
        margin: 0 24px 50px;
        align-items: center;

        >div {
            &:first-child {
                >div {
                    display: grid;
                    grid-template-columns: 1fr 100px;

                    button {
                        height: 100%;
                        width: 50%;
                        border: none;
                        background-color: transparent;
                        font-size: large;
                    }
                }
            }

            &:last-child {
                justify-self: end;

                >button {
                    padding: 16px 32px;
                    border: none;
                    background-color: $black;
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }




    .weekEnd {
        color: $gray-dark;
    }

    .empty {
        border: none;

        &:hover {
            background-color: transparent;
        }
    }

    table,
    th,
    td {
        border-collapse: separate;
        border-spacing: 24px;
    }


    table {

        thead {
            position: sticky;
            top: 0;
            background-color: white;

            #nextMonth,
            #previousMonth {
                width: 100%;
            }

            #calendar-title {
                text-align: center;
                font-family: $font-1-bold;
                font-size: 2rem;
            }

            .dayNameToday {
                color: $orange;
            }
        }

        tbody {
            .today {
                background-color: $gray;
                border-top: 2px solid $orange;


                >.dayNumber {
                    color: $orange;
                }
            }

            tr {
                td {
                    --size: 100px;
                    width: 200px;
                    height: 100px;
                    min-height: var(--size);
                    vertical-align: top;
                    padding: 8px;
                    transition: all .2;
                    border-top: 2px solid $black;

                    >* {
                        margin-bottom: 8px;
                    }

                    &.weekEnd {
                        border-top: 2px solid $gray-dark;
                    }

                    &:hover {
                        transition: all .2;
                        background-color: $white;
                    }

                    .event {
                        cursor: pointer;
                        transition: all .2s;

                        &:hover {
                            border-left: 2px solid $black;
                            padding-left: 8px;
                            margin-left: -8px;
                            transition: all .2s;
                        }

                        &-title {
                            font-family: $font-1-medium;
                        }

                        &-hour {
                            color: $gray-dark;
                        }
                    }

                    .dayNumber {
                        text-align: start;
                        font-family: $font-1-medium;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}