// Variables
@import './partials/_variables';
@import './partials/_fonts';

// Components
@import './components/_calendar';
@import './components/_addEventForm';
@import './components/_viewEvent';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-1-regular;
}