@font-face {
  font-family: "kelsonregular";
  src: url("../font/kelson/kelson-webfont.woff2") format("woff2"), url("../font/kelson/kelson-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kelsonbold";
  src: url("../font/kelson/kelson-bold-webfont.woff2") format("woff2"), url("../font/kelson/kelson-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kelsonextrabold";
  src: url("../font/kelson/kelson-extrabold-webfont.woff2") format("woff2"), url("../font/kelson/kelson-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kelsonlight";
  src: url("../font/kelson/kelson-light-webfont.woff2") format("woff2"), url("../font/kelson/kelson-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kelsonmedium";
  src: url("../font/kelson/kelson-medium-webfont.woff2") format("woff2"), url("../font/kelson/kelson-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kelsonthin";
  src: url("../font/kelson/kelson-thin-webfont.woff2") format("woff2"), url("../font/kelson/kelson-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 50px;
}

#calendar-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 0 24px 50px;
  align-items: center;
}
#calendar-header > div:first-child > div {
  display: grid;
  grid-template-columns: 1fr 100px;
}
#calendar-header > div:first-child > div button {
  height: 100%;
  width: 50%;
  border: none;
  background-color: transparent;
  font-size: large;
}
#calendar-header > div:last-child {
  justify-self: end;
}
#calendar-header > div:last-child > button {
  padding: 16px 32px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
#calendar .weekEnd {
  color: #71706f;
}
#calendar .empty {
  border: none;
}
#calendar .empty:hover {
  background-color: transparent;
}
#calendar table,
#calendar th,
#calendar td {
  border-collapse: separate;
  border-spacing: 24px;
}
#calendar table thead {
  position: sticky;
  top: 0;
  background-color: white;
}
#calendar table thead #nextMonth,
#calendar table thead #previousMonth {
  width: 100%;
}
#calendar table thead #calendar-title {
  text-align: center;
  font-family: "kelsonbold";
  font-size: 2rem;
}
#calendar table thead .dayNameToday {
  color: #f16348;
}
#calendar table tbody .today {
  background-color: #f0efeb;
  border-top: 2px solid #f16348;
}
#calendar table tbody .today > .dayNumber {
  color: #f16348;
}
#calendar table tbody tr td {
  --size: 100px;
  width: 200px;
  height: 100px;
  min-height: var(--size);
  vertical-align: top;
  padding: 8px;
  transition: all 0.2;
  border-top: 2px solid #000;
}
#calendar table tbody tr td > * {
  margin-bottom: 8px;
}
#calendar table tbody tr td.weekEnd {
  border-top: 2px solid #71706f;
}
#calendar table tbody tr td:hover {
  transition: all 0.2;
  background-color: #f0efeb;
}
#calendar table tbody tr td .event {
  cursor: pointer;
}
#calendar table tbody tr td .event-title {
  font-family: "kelsonmedium";
}
#calendar table tbody tr td .event-hour {
  color: #71706f;
}
#calendar table tbody tr td .dayNumber {
  text-align: start;
  font-family: "kelsonmedium";
  font-size: 2rem;
}

#addEventForm {
  margin: 50px 0;
  padding-bottom: 50px;
}
#addEventForm > div {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
#addEventForm > div label {
  width: 25%;
}
#addEventForm > div input,
#addEventForm > div textarea {
  width: 75%;
  padding: 14px;
}
#addEventForm .required label:after {
  color: #e32;
  content: " *";
  display: inline;
}
#addEventForm input[type=submit] {
  float: right;
  width: 200px;
  border: none;
  padding: 14px;
  background-color: #000;
  font-size: large;
  color: #fff;
}

.viewEvent input[type=submit] {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "kelsonregular";
}/*# sourceMappingURL=main.css.map */